:root {
  --green: rgb(55, 202, 123);
  --black: rgb(13, 22, 18);
  --white: rgb(232, 234, 233);
  --off-white: rgb(216, 225, 220);
  --danger: rgb(233, 85, 75);
  --text: var(--off-white);
  --text-h: var(--white);
  --bg: var(--black);
  --accent: var(--green);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: font-family: "Mulish", sans-serif;

  --heading: "Comfortaa", sans-serif;

  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
